.ellipsis {
    overflow: hidden;
    }

.ellipsis:before {
    content:"";
    float: left;
    width: 5px;
}

.ellipsis > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px; }

.ellipsis:after {
    content: "\02026";

    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;

    float: right;
    position: relative;
    top: -17px;
    left: 100%;
    width: 3em;
    margin-left: -3em;
    padding-right: 5px;

    text-align: right;

    background: -webkit-gradient(linear, left top, right top,
    from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}
@font-face {
    font-family: 'century_schoolbook_reprise';
    src: url('../bundles/goboianomedia/fonts/century-schoolbook-reprise-ssi-bold_9856-webfont.eot');
    src: url('../bundles/goboianomedia/fonts/century-schoolbook-reprise-ssi-bold_9856-webfont.eot?#iefix') format('embedded-opentype'),
    url('../bundles/goboianomedia/fonts/century-schoolbook-reprise-ssi-bold_9856-webfont.woff') format('woff'),
    url('../bundles/goboianomedia/fonts/century-schoolbook-reprise-ssi-bold_9856-webfont.ttf') format('truetype'),
    url('../bundles/goboianomedia/fonts/century-schoolbook-reprise-ssi-bold_9856-webfont.svg#century_schoolbook_reprise_Bd') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'century_schoolbook_reprise';
    src: url('../bundles/goboianomedia/fonts/century-schoolbook-reprise-ssi_9858-webfont.eot');
    src: url('../bundles/goboianomedia/fonts/century-schoolbook-reprise-ssi_9858-webfont.eot?#iefix') format('embedded-opentype'),
    url('../bundles/goboianomedia/fonts/century-schoolbook-reprise-ssi_9858-webfont.woff') format('woff'),
    url('../bundles/goboianomedia/fonts/century-schoolbook-reprise-ssi_9858-webfont.ttf') format('truetype'),
    url('../bundles/goboianomedia/fonts/century-schoolbook-reprise-ssi_9858-webfont.svg#century_schoolbook_reprise_Rg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'century_schoolbook_reprise';
    src: url('../bundles/goboianomedia/fonts/century-schoolbook-reprise-ssi-italic_9857-webfont.eot');
    src: url('../bundles/goboianomedia/fonts/century-schoolbook-reprise-ssi-italic_9857-webfont.eot?#iefix') format('embedded-opentype'),
    url('../bundles/goboianomedia/fonts/century-schoolbook-reprise-ssi-italic_9857-webfont.woff') format('woff'),
    url('../bundles/goboianomedia/fonts/century-schoolbook-reprise-ssi-italic_9857-webfont.ttf') format('truetype'),
    url('../bundles/goboianomedia/fonts/century-schoolbook-reprise-ssi-italic_9857-webfont.svg#century_schoolbook_reprise_It') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'century_schoolbook_reprise';
    src: url('../bundles/goboianomedia/fonts/century-schoolbook-reprise-ssi-bold-italic_9855-webfont.eot');
    src: url('../bundles/goboianomedia/fonts/century-schoolbook-reprise-ssi-bold-italic_9855-webfont.eot?#iefix') format('embedded-opentype'),
    url('../bundles/goboianomedia/fonts/century-schoolbook-reprise-ssi-bold-italic_9855-webfont.woff') format('woff'),
    url('../bundles/goboianomedia/fonts/century-schoolbook-reprise-ssi-bold-italic_9855-webfont.ttf') format('truetype'),
    url('../bundles/goboianomedia/fonts/century-schoolbook-reprise-ssi-bold-italic_9855-webfont.svg#century_schoolbook_reprise_It') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PTSans';
    src: url('../bundles/goboianomedia/fonts/pt-sans/PTS55F-webfont.eot');
    src: url('../bundles/goboianomedia/fonts/pt-sans/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('../bundles/goboianomedia/fonts/pt-sans/PTS55F-webfont.woff') format('woff'), url('../bundles/goboianomedia/fonts/pt-sans/PTS55F-webfont.ttf') format('truetype'), url('../bundles/goboianomedia/fonts/pt-sans/PTS55F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSans';
    src: url('../bundles/goboianomedia/fonts/pt-sans/PTS56F-webfont.eot');
    src: url('../bundles/goboianomedia/fonts/pt-sans/PTS56F-webfont.eot?#iefix') format('embedded-opentype'), url('../bundles/goboianomedia/fonts/pt-sans/PTS56F-webfont.woff') format('woff'), url('../bundles/goboianomedia/fonts/pt-sans/PTS56F-webfont.ttf') format('truetype'), url('../bundles/goboianomedia/fonts/pt-sans/PTS56F-webfont.svg#PTSansItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'PTSans';
    src: url('../bundles/goboianomedia/fonts/pt-sans/PTS75F-webfont.eot');
    src: url('../bundles/goboianomedia/fonts/pt-sans/PTS75F-webfont.eot?#iefix') format('embedded-opentype'), url('../bundles/goboianomedia/fonts/pt-sans/PTS75F-webfont.woff') format('woff'), url('../bundles/goboianomedia/fonts/pt-sans/PTS75F-webfont.ttf') format('truetype'), url('../bundles/goboianomedia/fonts/pt-sans/PTS75F-webfont.svg#PTSansBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'PTSans';
    src: url('../bundles/goboianomedia/fonts/pt-sans/PTS76F-webfont.eot');
    src: url('../bundles/goboianomedia/fonts/pt-sans/PTS76F-webfont.eot?#iefix') format('embedded-opentype'), url('../bundles/goboianomedia/fonts/pt-sans/PTS76F-webfont.woff') format('woff'), url('../bundles/goboianomedia/fonts/pt-sans/PTS76F-webfont.ttf') format('truetype'), url('../bundles/goboianomedia/fonts/pt-sans/PTS76F-webfont.svg#PTSansBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'PTSansCaption';
    src: url('../bundles/goboianomedia/fonts/pt-sans/PTC55F-webfont.eot');
    src: url('../bundles/goboianomedia/fonts/pt-sans/PTC55F-webfont.eot?#iefix') format('embedded-opentype'), url('../bundles/goboianomedia/fonts/pt-sans/PTC55F-webfont.woff') format('woff'), url('../bundles/goboianomedia/fonts/pt-sans/PTC55F-webfont.ttf') format('truetype'), url('../bundles/goboianomedia/fonts/pt-sans/PTC55F-webfont.svg#PTSansCaptionRegular') format('svg');
}
@font-face {
    font-family: 'PTSansCaption';
    src: url('../bundles/goboianomedia/fonts/pt-sans/PTC75F-webfont.eot');
    src: url('../bundles/goboianomedia/fonts/pt-sans/PTC75F-webfont.eot?#iefix') format('embedded-opentype'), url('../bundles/goboianomedia/fonts/pt-sans/PTC75F-webfont.woff') format('woff'), url('../bundles/goboianomedia/fonts/pt-sans/PTC75F-webfont.ttf') format('truetype'), url('../bundles/goboianomedia/fonts/pt-sans/PTC75F-webfont.svg#PTSansCaptionBold') format('svg');
    font-weight: bold;
}
@font-face {
    font-family: 'PTSansNarrow';
    src: url('../bundles/goboianomedia/fonts/pt-sans/PTN57F-webfont.eot');
    src: url('../bundles/goboianomedia/fonts/pt-sans/PTN57F-webfont.eot?#iefix') format('embedded-opentype'), url('../bundles/goboianomedia/fonts/pt-sans/PTN57F-webfont.woff') format('woff'), url('../bundles/goboianomedia/fonts/pt-sans/PTN57F-webfont.ttf') format('truetype'), url('../bundles/goboianomedia/fonts/pt-sans/PTN57F-webfont.svg#PTSansNarrowRegular') format('svg');
}
@font-face {
    font-family: 'PTSansNarrow';
    src: url('../bundles/goboianomedia/fonts/pt-sans/PTN77F-webfont.eot');
    src: url('../bundles/goboianomedia/fonts/pt-sans/PTN77F-webfont.eot?#iefix') format('embedded-opentype'), url('../bundles/goboianomedia/fonts/pt-sans/PTN77F-webfont.woff') format('woff'), url('../bundles/goboianomedia/fonts/pt-sans/PTN77F-webfont.ttf') format('truetype'), url('../bundles/goboianomedia/fonts/pt-sans/PTN77F-webfont.svg#PTSansNarrowBold') format('svg');
    font-weight: bold;
}