[Desktop Entry]
Encoding=UTF-8
Name=Link to  
Type=Link
URL=http://goboiano.com/news/5494-new-clannad-project-is-being-teased-for-animejapan-2017
Icon=text-html
